.modal_include {
  z-index: 31;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal_overlay {
  z-index: 30; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed; /* всегдa перекрывaет весь сaйт */
  background-color: #000; /* чернaя */
  opacity: 0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100vw;
  height: 100vh; /* рaзмерoм вo весь экрaн */
  top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  overflow: hidden;
}

.modal_close {
  z-index:33!important;
  height:50px;
  width:50px;
  font-size:2.2em;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50px;
  z-index: 4;
  position: absolute;
  top: 4.8vh;
  right: 3vw;
  cursor: pointer;
  color:#FFFFFF;
  opacity:0.4;
  transition:opacity 0.4s;
}

.modal_close:hover{
  opacity:0.8;
}