<section  class="user-creation">
	<form ng-submit="UserCtrl.login()">
	<fieldset>
	<legend>Login Form</legend>
	<select
            ng-model="UserCtrl.userId"
            ng-options="user.$id as user.username for user in UserCtrl.users">
      <option value="-- choose user --"></option>        
    </select>
	 </fieldset>
	<button type='submit'>Login</button>
  </form>
    <form ng-submit="UserCtrl.createUser()">
      <fieldset>
        <legend>Create new user</legend>
        <input type="text" ng-model="UserCtrl.username" placeholder="username"/>
        <input type="text" ng-model="UserCtrl.email" placeholder="email"/>
      </fieldset>
      <button type='submit'>Add New User</button>
  </form>
</section>

