<form class="login_form" ng-submit="loginController.clickHanler()">
    <nav>
        [<a ng-click="loginController.changeModeToLogIn()">Log in</a>] |
        [<a ng-click="loginController.changeModeToSignUp()">Sign up</a>]
    </nav>

    <div class="group">
        <input id="email_input" type="text" ng-model="loginController.entryEmail" autocomplete="off" name="email"
               required>
        <span class="bar"></span>
        <label for="email_input">e-mail</label>
    </div>

    <div class="group">
        <input id="password_input" type="password" ng-model="loginController.entryPassword" autocomplete="off"
               name="password" required>
        <span class="bar"></span>
        <label for="password_input">password</label>
    </div>

    <div ng-if="loginController.mode === 'signUp'" class="group">
        <input id="repeat_password_input" type="password" ng-model="loginController.entryRepeatPassword"
               autocomplete="off"
               name="repeat_password" required>
        <span class="bar"></span>
        <label for="repeat_password_input">repeat password</label>

    </div>
    <button>{{loginController.showButtonName()}}</button>
</form>