.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  padding: 30px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}