<section ng-class="{'card-content': SprintCtrl.supportService.isCardOpen, 'hide-content': !SprintCtrl.supportService.isCardOpen }">
    <div ng-class="{'card-content__modal': SprintCtrl.supportService.isCardOpen}">
        <div class="card-content__modal__button-wrapper">
            <a ui-sref="current-sprint({project_id: SprintCtrl.projectId})">
                <button ng-click="SprintCtrl.closeFullCard()">x</button>
            </a>
        </div>
        <div class="card-content__modal__content-wrapper">
            <h2>{{SprintCtrl.supportService.openCard.title }}</h2>
            <p>{{ SprintCtrl.supportService.openCard.$id }}</p>
            <p>{{ SprintCtrl.supportService.openCard.id }}</p>
            <p>{{ SprintCtrl.supportService.openCard.list_id }}</p>
            <p>{{ SprintCtrl.supportService.openCard.$priority }}</p>
            <p>{{ SprintCtrl.supportService.openCard.priority }}</p>
        </div>
    </div >
</section>
