<section ng-class="{'card-content': SprintCtrl.isModalOpen, 'hide-content': !SprintCtrl.isModalOpen }">
<!--<section>-->
    <div ng-class="{'card-content__modal': SprintCtrl.isModalOpen}">
    <!--<div>-->
        <div class="card-content__modal__button-wrapper">
            <button ng-click="closeFullCard()">x</button>
        </div>
        <div class="card-content__modal__content-wrapper">
            <h2>{{ SprintCtrl.title}}</h2>
            <p>{{ SprintCtrl.cardSuperId }}</p>
            <p>{{ SprintCtrl.cardSimpleId }}</p>
            <p>{{ SprintCtrl.cardListId }}</p>
            <p>{{ SprintCtrl.superPriority }}</p>
            <p>{{ SprintCtrl.priority }}</p>
        </div>
    </div >
</section>

<div>cds,;ldm
    <div>adada{{SprintCtrl.titleCard}}</div>

</div>

<!--CardChildCtrl-->
