.about {
	/*padding: 0 10vw;*/
}

.about__video {
	z-index: -1;
	top: 35px;
	left: 0;
	background: #000000;
	position: fixed;
	filter: grayscale(0.3);
	height: calc( 100% - 35px);
	
	video {
		z-index: 1;
		width: 100vw;
		height: 100%;
		object-fit: cover;
		opacity: 1;
}
}
.about__main {

	.about__main-message {
		box-sizing: border-box;
		height: calc(100vh - 35px);
		color: #ffffff;
		padding: 15vh 10vw;
	}
	h1 {
		text-align: left;
		font-size: 7vw;
		font-weight: bold;
		text-transform: uppercase;
	}
	.about__main-text {
		margin-top: 5vh;
		font-size: 3vw;
	}

	.content-adv {
		background: linear-gradient(to bottom, transparent,  rgb(20,20,20) 70%);
		padding-bottom: 30px;
	}

	.about__block {
		margin: 0 auto 70px;
		width: 90vw;
		background: #ffffff;
	}
	.about__block--first {
		filter: brightness(0.9);
		height: 400px;
		background: url(../../../looking.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #ffffff;
		transition: filter .3s;
		&:hover {
			filter: brightness(1);
		}

		h2 {
			z-index: 10;
			position: absolute;
			top: 80px;
			left: 20px;
			font-size: 1.7vw;
			font-weight: bold;
			text-transform: uppercase;
		}
		.text-block__text {
			position: absolute;
			top: 40px;
			margin: 0;
			left: 20px;
			z-index: 10;
			font-size: 1.4vw;
		}

		.text-block__bottom {
			position: absolute;
			background: #ffffff;
			top: 180px;
			height: 300px;
			width: 100%;
			opacity: .8;
			transition: top 1s, opacity .3s;
		}

		.bottom--hovered {
			top: 400px;
			opacity: 1;
		}

		.button--start {
			z-index: 10;
			left: 20px;
			position: absolute;
			top: -360px;
			width: 10vw;
			font-size: 2vh;
			padding: 20px;
			background: #000000;
			color: #ffffff;
			border-radius: 0;
			text-align:center;
			transition: top 1s, background .3s, color .3s;
			&:hover {
				background: #ffffff;
				color: #000000;
			}
		}

		.button--hovered {
			top: 40px;
		}
			
		.text-block {
			width: 25vw;
			height: 400px;
			position: relative;
			overflow: hidden;
			margin-left: 20vw;
			.text-block__texts {
				position: relative;
				top: 0px;
				transition: top 1s;
			}

			.text-block__texts--hovered {
				top: 160px;
			}

			.text-overlay {
				z-index: 0;
				position: absolute;
				background: #ffffff;
				width: 100%;
				height: 100%;
				top: -370px;
				opacity: .8;
				transition: top 1s, opacity .3s;
			}

			.text-overlay--hovered {
				top: 0;
				opacity: 1;
			}
			
		}
	}
	
	.timer-animation:after {
		position: absolute;
		top: 155px;
		left: 122px;
		font-size: 4rem;
		content: "00:00";
		font-family: Digital;
		animation-iteration-count: infinite;
		animation-duration: 10s;
		animation-name: timer;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	@keyframes timer {
    0% { content: "00:00"; }
    10% { content: "00:01"; }
    20% { content: "00:02"; }
    30% { content: "00:03"; }
    40% { content: "00:04"; }
    50% { content: "00:05"; }
    60% { content: "00:06"; }
    70% { content: "00:07"; }
    80% { content: "00:08"; }
    90% { content: "00:09"; }
    100% { content: "00:00"; }
}

	.img-overlay {
		z-index: 20;
		width: 400px;
		height: 490px;
		overflow: hidden;
		img {
			width: 100%;
			padding-top: 490px;
		}
	}
	
	.about__block__overlay {
		position: relative;
	}
	.animated-clock {
		position: absolute;
		top: -90px;
		right: 0px;
		.img-appearing {
			animation-name: hand-appearing;
			animation-duration: 2s;
			animation-delay: .5s;
			animation-fill-mode: forwards;
		}
	}
	
@keyframes hand-appearing {
    0% { padding-top: 490px; }
    70% { padding-top: 16px; }
    75% { padding-top: 16px; }
    100% { padding-top: 25px; }
}

}

.content {
	overflow: hidden;
	background: rgba(255,255,255,.5);
	padding: 60px 5vw;
	.content__project {
		position: relative;
		padding: 0 5vw;
		height: 650px;
		position: relative;
	}

	.content__img {
		z-index: 20;
		position: absolute;
		top: 20px;
		left: -25px;
		width: 850px;
		overflow: hidden;
		transform: translate3d(0);
		transition: left .3s, top .3s, opacity .3s, transform .3s;
		& img {
			width: 100%;
		}
		&--lists {
			top: 17px;
			left: -22px;
		}
		&--task-shadow {
			top: 20px;
			left: -24px;
		}
		&--tasks {
			top: 17px;
			left: -22px;
		}
	}
	.move-list-shadow {
		transform: scale(1.01);
		opacity: .6;
	}

	.move-lists {
		top: 14px;
		left: -16px;
	}

	.move-task-shadow {
		transform: scale(1.01);
		opacity: .6;
	}

	.move-tasks { 
		top: 10px;
		left: -12px;
	}
	
	.content__text-block {
		position: absolute;
		z-index: 20;
		top: 600px;
		right: -.7vw;
		height: 610px;
		width: 300px;
		transition: top 1s, opacity 1s;
		background: #ffffff;
		opacity: .7;
		&--top {
			opacity: 1;
			top: -800px;
			background: #141414;
		}
	}

		.content__text {
			width: 300px;
			position: absolute;
			right: -.4vw;
			transition: top 1.5s;
			p {
				color: #ffffff;
				padding-left: 25px;
				font-size: 1.6rem;
				
			}
			&--title {
				z-index: 21;
				top: 800px;
				& p {
					color: #000000;
					padding-left: 20px;
					font-weight: bold;
					font-size: 2.5rem;
					text-transform: uppercase;
				}
			}
			&--first {
				z-index: 21;
				top: -580px;
				transition: top 2s;
			}
			&--second {
				z-index: 21;
				top: -500px;
				transition: top 2s;
			}
			&--third {
				z-index: 21;
				top: -300px;
				transition: top 2s;
			}

		}

		.move-text-title {
			top: 360px;
		}

		.move-text-title-finish {
			top: 515px;
		}

		.move-text-block {
			top: 450px;
			opacity: 1;
		}

		.move-text-block-top {
			top: -125px;
		}
		.move-text-first {
			top: 80px;
			margin-top: -15px;
			padding-bottom: 35px;
			
		}
		.move-text-second {
			top: 175px;
			padding-bottom: 35px;
			
		}
		.move-text-third{
			top: 290px;
			
		}
		.content__overlay {
			transition: filter .5s;
		}
		.lists-blur {
			filter: blur(1.3px);
		}

}
.features {
	overflow: hidden;
	background: #ffffff;
	padding: 60px 0 60px 0;
	.features__overlay {
		position: relative;
		width: 90vw;
		margin: 0 auto;
		.features__all {
			width: 100%;
			-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);
			-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);
			box-shadow: 0px 5px 10px 3px rgba(0,0,0,.2);
		}
	}
	.features__part {
		position: absolute;
		opacity: 0;
		img {
			width: 100%;
		}
		&--back {
			width: 32.5vw;
			top: 0;
			right: 0;
		}
		&--preloader {
			width: 57.5vw;
			top: 0;
			left: 0;
		}
		&--backlog {
			width: 31.3vw;
			top: 0;
			left: 0;
		}
		&:hover {
			animation-name: change-img;
			animation-delay: 1s;
			animation-duration: .1s;
			animation-fill-mode: forwards;

		}
	}

	.feature-overlay {
		z-index: 21;
		background: #141414;
		position: absolute;
		top: 0;
		width: 200px;
		height: 1200px;
		padding: 20px;
		transition: top 1s;
		top: 1200px;
		h2 {
			margin-top: 50px;
			font-size: 2rem;
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 20px;
		}
		p {
			font-size: 1.5rem;
			color: #ffffff;
		}
	}

	.back-overlay {
		right: 32.5vw;
	}

	.preloader-overlay {
		left: 0;
	}
	.back-backlog {
		left: 31.2vw;
	}

	.move-back-overlay,
	.move-preloader-overlay,
	.move-backlog-overlay {
		top: 0;
	}


	@keyframes change-img {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

	.img-blur {
		animation-name: blur-img;
		animation-delay: 1s;
		animation-duration: .1s;
		animation-fill-mode: forwards;
	}

	@keyframes blur-img {
    0% { filter: blur(0); }
    100% { filter: blur(5px); }

}
}
.footer {
	background: #141414;
	color: #ffffff;
	padding: 100px;
}
.footer__overlay {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		font-size: 2.4rem;
		line-height: 1.5;
		span {
			font-size: 3rem;
			font-weight: bold;
		}
	}
	.button--footer {
		margin: 30px;
		font-size: 2rem;
		padding: 15px 30px;
		color: #ffffff;
		border-radius: 0;
		border: 2px solid #ffffff;
		&:hover {
			color: #000000;
			background: #ffffff;
		}
	}
	.footer__login {
		p, 
		.button--footer-link {
			display: inline-block;
		}
		p {
			font-size: 1.6rem;
		}
		.button--footer-link {
			border: none;
			padding: 0;
			margin-left: 20px;
			text-decoration: underline;
			color: #3498DB;
			font-size: 1.6rem;
			&:hover{
				text-decoration: none;
			}
		}
	}

	.copyright {
		width: 420px;
		display: flex;
		margin-top: 100px;
		flex-direction: row;
		.header__logo--footer, p {
			font-size: 1.6rem;
			opacity: .8;
		}
	}
}

@media screen and (max-width: 900px) {
	.about__main {
		.about__block--first {
			background-position: 100% 0;
			.text-block {
				margin-left: 0;
			}
			h2 {
			
			left: 10px;
			
		}
		.text-block__text {
			left: 10px;
		}
		.button--start {
			padding: 10px;
		}
		}
	}
	.content .move-text-block {
			top: 335px;
	}
	.content__overlay {
			filter: blur(1.3px);
		}
}

@media screen and (max-width: 600px) {
	.about__main {

		.animated-clock {
			display: none;
		}
		.about__block--first {
			background-position: 0 0;
			.text-block {
				width: 40vw;
				margin-left: 40vw;
			}
			h2 {
				font-size: 2.8vw;
			}
			.text-block__text {
				font-size: 2.3vw;
			}
		}

	}
	.footer {
		padding: 50px;
	}
}
@media screen and (max-width: 470px) {
	.features {
		display: none;
	}
	.about__main {
		.about__block {
			width: 100vw;
		}
		.about__main-message {
			height: 50vh;
			padding: 70px 30px
		}
		.about__block--first {
			background-position: 15% 0;
			.text-block {
				width: 70vw;
				margin-left: 30vw;
			}
			h2 {
				font-size: 6vw;
			}
			.text-block__text {
				font-size: 4vw;
			}
		}
	}
	.content { 
		padding: 60px 0;
		.content__text-block {
		right: 0px;
	}
}
.footer__overlay {
	.copyright {
	flex-direction: column;
	align-items: center;
}
	.button--footer {
		width: 100px;
		padding: 15px 20px;
		font-size: 1.6rem;
	}
}
}