<section class="about">
	<section class="about__video">
		<video autoplay loop><source src="https://firebasestorage.googleapis.com/v0/b/portfolio-5e570.appspot.com/o/1280_720.mp4?alt=media&token=0efcc0bb-d17f-4cfb-9ccd-75c36882af20"></video>
		<div class="about__video-overlay"></div>
	</section>
	<section class="about__main">
		<div class="about__main-message">
			<h1>Do you want to add<br> some sport to<br> your business?</h1>
			<p>Sprinter task manager will help you to organize and prioritize your work in a fun, flexible and rewarding way.
			</p>
		</div>
		<section class="content-adv">
		<div class="about__block about__block--first" ng-mouseenter="LandingCtrl.showProposition(true)" ng-mouseleave="LandingCtrl.showProposition(false)">
			<div class="about__block__overlay">
			<div class="text-block">
				<div class="button button--start" ng-class="{'button--hovered': LandingCtrl.proposition}" ng-click="LandingCtrl.getStart()">Get start</div>
				<div ng-class="{'text-overlay--hovered': LandingCtrl.proposition}" class="text-overlay"></div>
				<div class="text-block__texts" ng-class="{'text-block__texts--hovered': LandingCtrl.proposition}">
					<p class="text-block__text">have a lot of work and</p>
					<h2>looking for solution <br> to manage with your time?</h2>
					<div class="text-block__bottom" ng-class="{'bottom--hovered': LandingCtrl.proposition}"></div>
				</div>
			</div>
			<div class="animated-clock">
				<div class="img-overlay">
					<img ng-class="{'img-appearing': LandingCtrl.animateHand}" ng-src="https://firebasestorage.googleapis.com/v0/b/portfolio-5e570.appspot.com/o/stopwatch.png?alt=media&token=17ecdfda-0d25-40a0-a807-6e34a1fa0d34">
				</div>
				<p class="timer" ng-class="{'timer-animation': LandingCtrl.animateTime}"></p>
			</div>
		</div>
		</div>
		</section>
		<section class="content">
			<section class="content__project">
				<div class="content__img content__img--lists-shadow">
					<img scr="list_shadow.png">
				</div>
				<div class="content__img content__img--lists">
					<img scr="list_shadow.png">
				</div>
				<div class="content__img content__img--task-shadow">
					<img scr="task_shadow.png">
				</div>
				<div class="content__img content__img--tasks">
					<img scr="tasks.png">
				</div>
			</section>
		</section>
	</section>
</section>