<div class="task-wrap">
	<div class="task-wrap__blur"
		 ui-sref="current-sprint({project_id: TaskCtrl.projectId})"
		 ng-click="SprintCtrl.closeFullCard()"></div>
<section  class="task task-layer">
	<div class="task-header">
        <div class="task-title">
			Task description
        </div>
        <div class="close"
        	 ng-click="loginController.hideFunc()">
            <a ui-sref="current-sprint({project_id: TaskCtrl.projectId})">
			<div class='close-button'
				 ng-click="SprintCtrl.closeFullCard()"><i class="flaticon-cancel"></i></div>
			</a>
        </div>
    </div>

    <section class='task__wrapper'>
		<div class="task__title">
			<div class="task__title-text" ng-if="!TaskCtrl.isTitleEdit">
				<p
			   	   ng-click="TaskCtrl.isTitleEdit = !TaskCtrl.isTitleEdit">
			   	{{TaskCtrl.task.title}}
				</p>
				<div class="edit-mode">
					<i class="fas fa-edit"></i>
				</div>
			</div>
			<form ng-if="TaskCtrl.isTitleEdit"
				  class="task__title_form"
				  ng-class="{'list_list-container_footer list_list-container_footer__form-wrapper__open': list.openAddCard}"
				  ng-submit="TaskCtrl.editTitle()">
				<input id="editTaskTitle"
					   ng-blur="TaskCtrl.onTitleBlur()"
					   type="text" 
					   ng-model="TaskCtrl.taskTitle"
					   value="{{TaskCtrl.taskTitle}}"/>
			</form>
		</div>

		<div class='task-content'>
			<section class="task-content__left-section">
			<div>
			<div class="task__description">
				<p class="task__description-title">Description:</p>
				<p ng-if="!TaskCtrl.editDescription"
				   class="task__description-text">{{TaskCtrl.task.description || 'no description yet'}}</p>
				<textarea ng-if="TaskCtrl.editDescription"
						  class="textarea textarea--description"
						  ng-model="TaskCtrl.task.description"
						  name="description">
				</textarea>
				<button ng-if="!TaskCtrl.editDescription"
					 class="button button--change-cancel"
					 ng-click="TaskCtrl.changeDescription()">Change</button>

				<div class="edit-buttons" ng-if="TaskCtrl.editDescription">
					<button
					 class="button button--change-save"
					 ng-click="TaskCtrl.saveDescription()">Save</button>
					 <button
					 class="button button--change-cancel"
					 ng-click="TaskCtrl.cancelSavingDescription()">Cancel</button>
				</div>
			</div>
			<div class="task__attachment">
				<p class="task__attachment-title">Attachments:</p>
				<span class="link-button link-button--attachment" 
					  type="file" 
					  ngf-select="TaskCtrl.uploadFile($file, {addToComment: false})">
					  <span class="file-add"> </span>add attachment</span>
				
				<div class="attachment__list">
				<div class="attachment__list-item" 
					 ng-repeat="task in TaskCtrl.taskFiles" 
					 class="file-editor">
					<a ng-href="{{task.fileLink}}" 
					   download="task.fileName">{{task.fileName}}</a>
					<span ng-click="TaskCtrl.deleteFile(task.fileLocation, task.$id)" 
					      class="cross"></span>
				</div>
			</div>
			</div>
			</div>
			<div class="add-comment">
				<textarea class="textarea textarea--add-comment" 
						  ng-model="TaskCtrl.comment" 
						  name="comment" 
						  placeholder="Your comment">
				</textarea>
				<button class="button button--send" 
						ng-click="TaskCtrl.addComment()">Add comment</button>
				<span class="file-add file-add--comment" 
					  type="file"
					  ngf-select="TaskCtrl.uploadFile($file, {addToComment: true})"></span>
				<div class="add-comment__attachment-wrapper">
				<span class="add-comment__attachment" 
					  ng-repeat="file in TaskCtrl.fileLinks">{{file.fileName}}</span>
				</div>
			</div>
			</section>
			<section class="task-content__right-section">
				<div class="task-priority">
					<div class="priority-list">
					<div class="priority-list__title">Priority</div>
						<div class="priority-list__items">
						<div ng-repeat="priority in TaskCtrl.priorities"
							 ng-click="TaskCtrl.setPriority(priority)"
						     ng-class="TaskCtrl.taskPrioriry(priority)">	
								 BV{{priority}}
						</div>
						</div>
					</div>
				</div>
				<div class="task-lists">
					<div class="lists-list">
						<div class="lists-list__title">List location</div>
						<div class="lists-list__items">
						<div ng-repeat="list in TaskCtrl.lists"
							 ng-if="TaskCtrl.displayList(list.listId)" 
							 ng-click="TaskCtrl.moveToList(list.listId)"
						     ng-class="TaskCtrl.taskList(list.listId)">	
								 {{list.listName}}
						</div>
						</div>
					</div>
				</div>
				<div class="executors">
					<div class="executors-list">
						<div class="executors-list__title">Executors</div>
						<user-adding class="task-executors"
									 all-users="TaskCtrl.projectUsers"
		               				 users="TaskCtrl.executors"
		               				 project="TaskCtrl.project"
		               				 project-id="TaskCtrl.projectId"
		               				 task="TaskCtrl.task"
		               				 task-id="TaskCtrl.taskId">
		  				</user-adding>
	  			    </div>
	  			</div>
			</section>
		</div>
	</section>
	<section class="comments-section">
	<div ng-repeat="comment in TaskCtrl.comments | orderBy:'$index':true" 
		 class="comments user-comment">
		<img ng-src="{{TaskCtrl.getUser(comment.userId).avatar}}" 
			 alt="" 
			 class="comment-avatar">
		<div class="comment-body">
			<div class="comment-in">
				<div class="user-info">
					<span class="user-name">@{{TaskCtrl.getUser(comment.userId).username}}</span>
					<span ng-if="comment.date" 
					 	  class="user-date" 
					 	  am-time-ago="comment.date"></span>
				</div>

				<span ng-hide="TaskCtrl.editCommentId === comment.$id"  
				   	  class="comment-text">{{comment.comment}}</span>

				<textarea class="textarea textarea--comment"ng-if="TaskCtrl.editMode && TaskCtrl.editCommentId === comment.$id" 
						  ng-model="TaskCtrl.commentText"></textarea>
				<div class="comment-buttons">
					<span ng-show="comment.userId === TaskCtrl.userId && !TaskCtrl.editMode &&
					!(TaskCtrl.editCommentId === comment.$id)" 
						  ng-click="TaskCtrl.editComment(comment)" 
						  class="edit-comment">edit</span>
					<span ng-show="comment.userId === TaskCtrl.userId" 
						  ng-click="TaskCtrl.deleteComment(comment.$id)"
						  class="edit-comment">delete</span>
				</div>
				<span ng-show="TaskCtrl.editMode && TaskCtrl.editCommentId === comment.$id"
					  ng-click="TaskCtrl.saveEditedComment(comment.$id)" 
					  class="button button--send-comment">save</span>
				<div class="edit-comment__attachment-wrapper">
				<div ng-repeat="file in comment.files">
					<a ng-href="{{file.fileLink}}" 
					   download="file.fileName">{{file.fileName}}</a>
				</div>
			   </div>
			</div>
		</div>
	</div>
</section>
</section>


</div>