<div class="progress-bar__wrapper">
	<div class="progress-bar__wrapper-wrapper">
		<p class="progress-bar__date progress-bar__date-start">
			{{ ProgressBarCtrl.startDate}}
		</p>
		{{ ProgressBarCtrl.runProgressBar()}}
		<div    class="progress-bar">
			<div    id="progress-bar-container">
				<div    class="progress-bar-child progress"></div>
				<div    class="progress-bar-child shrinker timelapse"></div>
				<div    class="progress-bar-child overlay"
						ng-style= "{'width': ProgressBarCtrl.overlayWidth}">
				</div>
			</div>
		</div>
		<p class="progress-bar__date progress-bar__date-finish">
			{{ ProgressBarCtrl.finishDate}}
		</p>
	</div>
</div>