.progress-bar{
  margin: 20px 0;
  height: 14px;
  width: 60%;

}
#progress-bar-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #a9a9a9;
  box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.8);
}

.progress-bar-child {
  width: 100%;
  height: 100%;
}

.progress {
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 3.5rem;
  font-family: "Segoe UI";
  animation-direction: reverse;
  background: #e5405e;
  /* Old browsers */
  background: -moz-linear-gradient(left,  #e5405e 10%, #ffdb3a 30%, #3fffa2 60%, #3fffa2 80%, #1a9be0 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right,  #e5405e 10%, #ffdb3a 30%, #3fffa2 60%, #3fffa2 80%, #1a9be0 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #e5405e 10%, #ffdb3a 30%, #3fffa2 60%, #3fffa2 80%, #1a9be0 90%);
}

.shrinker {
  background-color: #F7F7F7;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.timelapse {
  animation-name: timelapse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.overlay{
  background-color: #F7F7F7;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes timelapse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}