<modal-window  ng-if="appController.showModalWindow" hide-func="appController.hide">
    <div ng-switch on="appController.mode"> 
        <projects ng-switch-when="projects" hide-func="appController.hide"></projects>
        <login-form ng-switch-default hide-func="appController.hide" mode="appController.mode"></login-form>
    </div>
</modal-window>

<my-projects class="search-projects" ng-if="appController.showSearch && appController._supportService.userId" hide-func="appController.hideSearch"></my-projects>

<div ng-show="appController.isLoaded" class="page-content">
<header  class="header">
<div class="header__wrapper">
	<div class="header__search" >
		<div class="search-icon menu" ng-click="appController.toShowSearch()" click-outside="appController.toHideSearch()" ng-if="appController._supportService.userId">
			<i class="flaticon-two-columns-layout"></i>
		</div>
	</div>
    <div class="header__logo">
    	<p>Sprinter</p>
    </div>
    <nav ng-if="!appController._supportService.userId" class="header__login-nav">
        <button class="button button--login" ng-click="appController.toShowModalWindow('logIn')">Log In</button>
        <button class="button button--signup" ng-click="appController.toShowModalWindow('signUp')">Sign Up</button>
    </nav>
    <div ng-if="appController._supportService.userId" class="header__main-panel">
        <main-menu to-show-modal-window="appController.showProjects"></main-menu>
    </div>
</div>
</header>
<div class="main-content">
    <ui-view></ui-view>
</div>
</div>

