<modal-window  ng-if="appController.showModalWindow" hide-func="appController.hide">
    <login-form hide-func="appController.hide" mode="appController.mode"></login-form>
</modal-window>
<my-projects class="search-projects" ng-if="appController.showSearch && appController._supportService.userId"></my-projects>
<header class="header">
<div class="header__wrapper">
	<div class="header__search" >
		<div class="search-icon" ng-click="appController.toShowSearch()" ng-if="appController._supportService.userId">
			<i class="fas fa-columns"></i>
		</div>
	</div>
    <div class="header__logo">
    	<p>Sprinter</p>
    </div>
    <nav ng-if="!appController._supportService.userId" class="header__login-nav">
        <button class="button button--login" ng-click="appController.toShowModalWindow('logIn')">Log In</button>
        <button class="button button--signup" ng-click="appController.toShowModalWindow('signUp')">Sign Up</button>
    </nav>
    <div ng-if="appController._supportService.userId" class="header__main-panel">
        <button class="button" ng-click="appController.logOut()">Log Out</button>
    </div>
</div>
</header>
<ui-view></ui-view>

