html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: grey;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
	box-sizing: border-box;
}

.header {
	background: #ffffff;

	&__wrapper {
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
	}
}

.header__main-panel,
.header__login-nav,
.header__logo,
.header__search {
	width: 33%;
	display: flex;
}

.header__main-panel,
.header__login-nav {
	justify-content: flex-end;
}

.header__search {
	justify-content: flex-start;
	color: #000000;
}

.search-icon {
	padding: 3px 6px;
	border-radius: 5px;
	font-size: 2rem;
	cursor: pointer;

	&:hover {
		background: #000000;
		color: #ffffff;
	}
}


.header__logo {
	justify-content: space-around;
	& p {
		margin: 0;
		padding: 0;
		font-family: 'Cinzel', serif;
		font-size: 2.5rem;
	}
}


.button {
	background: transparent;
	color: #000000;
	border: none;
	font-size: 1.4rem;
	min-width: 30px;
	padding: 3px 10px;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;

	&--signup {
		background: #000000;
		color: #ffffff;
		border-color: black;
		margin-left: 5px;
	}

	&:hover {
		border-color: #000000;
		background: transparent;
		color: #000000;
	}
}

.my-projects__search {
	position: relative;
	& .loop-icon {
		position: absolute;
		top: 6px;
		right: 10px;
		width: 15px;
		height: 15px;
		font-size: 1.6rem;
		color: rgba(0,0,0,.1);
	}
}


.search-projects {
	z-index: 10;
	position: absolute;
	top: 39px;
	left: 0;
	background: #ffffff;
	-webkit-box-shadow: 2px 6px 10px -1px rgba(0,0,0,1);
	-moz-box-shadow: 2px 6px 10px -1px rgba(0,0,0,1);
	box-shadow: 2px 6px 10px -1px rgba(0,0,0,1);

	& .my-projects {
		width: 320px;
		padding: 10px 5px;
		& .my-tasks,
		& .config {
			display: none;
		}
		& input {
			width: 288px;
			border: 2px solid #000000;
			border-radius: 3px;
			padding: 3px 25px 3px 3px;
			font-size: 1.6rem;
		}
		& ul {
			margin: 0;
			padding: 0;
			list-style: none;

			& li {
				margin-top: 10px;
				position: relative;
				display: block;
				height: 40px;
			}
		}	
	}
}

.search-projects .my-projects__link {
	position: absolute;
	top: 12px;
	left: 10px;
	color: #ffffff;
	text-decoration: none;
	&:hover {
		opacity: .7;
	}
}

.my-projects__background img {
	display: none;
}

.search-projects .my-projects__background {
	width: 100%;
	height: 40px;
	overflow: hidden;
	& img {
		display: block;
		width: 100%;
	}
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
