    <div class="hystory">
    	<div class="hystory__header">
    		<div class="hystory__header-wrapper">
    		<h1 class="hystory__title">{{hystoryCtrl.hystory[0].sprintData.projectName}}</h1>
    		<button class="link-button hystory__header-button" ng-if="hystoryCtrl.hystory[0].$id != 1" ng-click="hystoryCtrl.showMoreHystory()">Show more</button>
	        <button class="link-button hystory__header-button" ng-if="hystoryCtrl.showItems > 5" ng-click="hystoryCtrl.showLessHystory()">Show less</button>
    	</div>
    	</div>
    	<div class="hystory__wrapper">
	        <table class="hystory__table table">
	        	<thead class="table__head">
	        		<tr class="table__row">
	        			<td class="table__cell table__cell--head table__cell--task"></td>
	        			<td class="table__cell table__cell--head"
							ng-mouseenter="hystoryCtrl.isShowCircle = true"
							ng-mouseleave="hystoryCtrl.isShowCircle = false"
							ng-repeat="sprint in hystoryCtrl.hystory">
							<p>
							   {{sprint.$id}}
							</p>
	        			<div class="table__cell-data">
	        				<h3>Srpint #{{sprint.$id}}</h3>
	        				<div class="full-data" ng-if="sprint.sprintData">
		        				<table>
		        					<tr>
		        						<td>from:</td>
		        						<td class="grey">{{hystoryCtrl.getDate(sprint.sprintData.sprintStart)}}</td>
		        					</tr>
		        						<td>to:</td>
		        						<td class="grey">{{hystoryCtrl.getDate(sprint.sprintData.sprintActualFinish)}}</td>
		        				</table>
		        				<div class="digramm-data" >
									<div class="hystory-diagramm">
		    							<svg viewBox="0 0 100 100">
		        							<circle r="25" cx="50" cy="50" class="hystory-diagramm__cirle"
		        							ng-class="{'hystory-diagramm__cirle-active': !hystoryCtrl.isShowCircle }"
											ng-style="{'stroke-dasharray': hystoryCtrl.createPromise(sprint.sprintData) }" />
		    							</svg>

		    							<p>{{hystoryCtrl.getPersantage(sprint.sprintData)}}%</p>
									</div>
									<div class="hystory-completion">
										<h4>completeness</h4>
										<table>
											<tr>
				        						<td>Total:</td>
				        						<td>{{sprint.sprintData.tasksTotal}}</td>
				        					</tr>
				        					<tr>
				        						<td  class="closed">closed:</td>
				        						<td  class="closed closed--green">{{sprint.sprintData.tasksClosed}}</td>
				        					</tr>
				        				</table>
									</div>
								</div>
							</div>
							<div class="in-progress" ng-if="!sprint.sprintData"><p>Sprint in progress...</p></div>
	        			</div>
	        			</td>
	        			<td class="table__cell table__cell--last"></td>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr class="table__row" ng-repeat="(key, value) in hystoryCtrl.getTasks()">
	        			<td class="table__cell table__cell--task">{{value.title}}</td>
	        			<td class="table__cell {{hystoryCtrl.cellStyle(value.sprintStart,value.sprintEnd,sprint.$id)}}" 
	        				ng-repeat="sprint in hystoryCtrl.hystory">
	        				<img class="task-start" 
	        				ng-if="hystoryCtrl.arrowStart(value.sprintStart,value.sprintEnd,sprint.$id)" 
	        				src="https://firebasestorage.googleapis.com/v0/b/portfolio-5e570.appspot.com/o/arrow.png?alt=media&token=74ce91d8-1c6b-474a-b20d-c7384d3a9300">
	        				<img class="task-end" 
	        					 ng-if="hystoryCtrl.arrowEnd(value.sprintStart,value.sprintEnd,sprint.$id)" 
	        					 src="https://firebasestorage.googleapis.com/v0/b/portfolio-5e570.appspot.com/o/arrow.png?alt=media&token=74ce91d8-1c6b-474a-b20d-c7384d3a9300">{{hystoryCtrl.cellContent(value.sprintStart,value.sprintEnd,sprint.$id)}}</td>
	        			<td class="table__cell table__cell--last"></td>
	        		</tr>
	        	</tbody>
	        </table>
    	</div>
    </div>

