.hide-content{
	visibility: hidden;
}

@keyframes show {
	from {opacity: 0;}
	to {opacity: 1;}
}



.card-content {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	transition: all 0.2s;

	&__modal {
		animation: show 0.3s ease-in;
		margin-top: 120px;
		width: 300px;
		height: 300px;
		background: whitesmoke;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		&__button-wrapper {
			width: 100%;
			height: 30px;
			display: flex;
			justify-content: flex-end;
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 100%;
				background: #4584ff;
				border: none;
			}
		}
	}
}

.lists-container {
	position: relative;
  	width: 100vw;
	.project-users__wrapper{
		width: 200px;
		height: 200px;
		background: #4584ff;
		.dndDraggingSource{
			display: flex !important;
		}
		&-user {
			width: 60px;
			height: 60px;
			background: red;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			p{
				font-size: 10px;
			}
		}
	}
	.backlog-show-button{
		position: absolute;
		left: -30px;
	}
	.lists-container__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		position: relative;
		margin-left: 30px;
		.dndPlaceholder {
			display: flex;
			position: relative;
			flex-shrink: 0;
			flex-grow: 0;
			width: 200px;
			min-height: 60vh;
			margin: 10px;
			padding: 5px;
			background-color: rgba(0,0,0, .05);
		}
		.list__wrapper{
			transition: all 1s;
		}
		.list {
			position: relative;
			flex-shrink: 0;
			flex-grow: 0;
			width: 200px;
			min-height: 150px;
			background-color: #ffffff;
			margin: 10px;
			padding: 5px;

			.dndPlaceholder {
				display: flex;
				width: 100%;
				min-height: 60px;
				background-color: rgba(0,0,0, .05);
				margin: 0;
				padding: 0;

			}
			.card__wrapper {
				display: block;
				width: 100%;
				min-height: 50px;
				padding: 0;
				overflow-y: auto;
				max-height: 55vh;
				.card {
					padding: 10px;
					min-height: 50px;
					margin-top: 5px;
					margin-bottom: 5px;
					display: flex;
					flex-direction: column;
					h4 {
					}
					&_user-for-card{
						display: flex;
						justify-content: flex-end;
						height: 50px;
						width: 100%;
						font-size: 8px;
						&_avatar{
							display: flex;
							align-items: center;
							justify-content: center;
							height: 50px;
							width: 50px;
							border-radius: 50%;
							background: red;

						}
						.dndPlaceholder{
							display: none !important;
						}
					}
				}
			}
		}
		.backlog{
			transition: all 1s;
			position: absolute;
			left: -400px;
			.list{
				padding-left: 100px;
			}
		}
	}

	.dndDraggingSource{
		display: none !important;
	}

}



.card--bv2 {
	background: rgba(0,255,0,.1);
}



