<section class="lists-container">
	<div class="lists-container__background"
		 ng-style="{'background': 'url('+SprintCtrl.projBackgound+')'}">
	</div>
	<h2>{{SprintCtrl.currentSprint.projectName}} #{{SprintCtrl.currentSprint.sprintNumber}}</h2>
	<a class="list-container__hystory" ui-sref="hystory({project_id: SprintCtrl.projectId})">Go to Hystory</a>
	<button class="link-button" ng-click="SprintCtrl.toShowProjectSettings()">Project Settings</button>
	<project-settings ng-if="SprintCtrl.showProjectSettings" class="sprint-project-settings" project-hash="SprintCtrl.projectId" hide-func="SprintCtrl.hide"></project-settings>

	<div class="lists-container__project-users"
	ng-if="SprintCtrl.projectLoad">
		<div class="lists-container__project-users__icons"
			 ng-repeat="user in SprintCtrl.usersManager"
			 dnd-type="'user'"
			 dnd-draggable="user">
			<img src="{{user.avatar}}">
		</div>
		<div class="lists-container__project-users__icons"
		ng-repeat="user in SprintCtrl.usersWithoutManager"
		dnd-type="'user'"
		dnd-draggable="user">
			<img src="{{user.avatar}}">
		</div>
	</div>

	<div class="lists-container__wrapper"
		 dnd-allowed-types="['container']"
		 dnd-list
		 dnd-drop="listDrop(item, index, SprintCtrl.lists)">
		<div class="backlog-show-button list"
			 ng-class="{'backlog-show-button__hide' : !SprintCtrl.isShown}"
			 ng-click="SprintCtrl.showBacklog()">
			<p>Back-log</p>
		</div>
		<div ng-repeat="list in SprintCtrl.lists"
			 dnd-type="'container'"
			 dnd-disable-if="list.listId < 4"
			 dnd-draggable='list'
			 class="list"
			 ng-class="{'backlog' : list.listId == 1}">



			<div ng-if="list.listId !== 1"
				 id="{{list.listId + 100}}"
				 class="list__full-menu"
				 ng-blur="SprintCtrl.hideListMenu(list)"
				 ng-class="{'list__full-menu_open' : list.isListMenuShown,
				 'list__full-menu_close': !list.isListMenuShown}">

				<!--<div ng-click="SprintCtrl.hideListMenu(list)"-->
				     <!--class="list__full-menu__close-icon"></div>-->
				<form class="list__full-menu__title-change"
					  ng-submit="SprintCtrl.changeListTitle(list)">
					<input ng-blur="SprintCtrl.onMenuBlur(list)"
							type="text" ng-model="SprintCtrl.newListName"
						   placeholder="Edit list name">
				</form>
				<div ng-if="list.listId>3"
					 class="list__full-menu__delete-list"
					 ng-click='SprintCtrl.deleteList(list)'>
					Remove List
				</div>
			</div>

			<div class="list_list-container">




				<div class="list_list-container_header"
				ng-class="{'grabbing' : (list.listId > 3)}">
					<div class="list_list-container_header__title">
						{{list.listName}}
					</div>
					<div class="list_list-container_header__cards-count">
						{{SprintCtrl.cardsCountForList(list)}}
					</div>
					<div ng-if="list.listId !== 1"
						 class="list_list-container_header__menu"
                         ng-click="SprintCtrl.showListMenu(list, list.listId+100)">
					</div>
					<div ng-if="list.listId == 1"
						 ng-click="SprintCtrl.hideBacklog()"
						 class="backlog__hide-button">
					</div>

				</div>
				<ul class="cards-list__wrapper"
					id="{{list.listId+200}}"
					dnd-allowed-types="['item']"
					dnd-list
					dnd-drop="onDrop(list.listId, item)">
					<li ng-click="SprintCtrl.showFullCard(card)"
					    ui-sref="card-child-component({project_id: SprintCtrl.projectId ,task_id:card.$id})"
					    ng-repeat="card in SprintCtrl.cards | filter:{list_id:list.listId}:true"
					    class="card"
					    dnd-draggable="card"
					    dnd-type="'item'"
					    dnd-effect-allowed="move"
						>
						<div class="card_content-card"
							>
							<div class="card_content-card__top">
								<div class="card_content-card__top-title">
									<h4>{{ card.title }}</h4>
									<p>Card text</p>
								</div>
								<div class="card_content-card__top-info">
									<p>{{SprintCtrl.cardCreatedDate(card)}}</p>
									<p>{{SprintCtrl.cardCreatedTime(card)}}</p>
								</div>
							</div>

							<div class="card_content-card__bottom">
								<div class="card_content-card__bottom-attributes">
									<p>{{ SprintCtrl.cardCommentsCount(card) }}</p>
									<p>{{ SprintCtrl.cardAttachmentCount(card) }}</p>
								</div>
								<div class="card_content-card__bottom-executors"
									 dnd-list dnd-drop="onUserDrop(item, card)"
									 dnd-allowed-types="['user']">
									<img ng-repeat="executor in card.executors"
										 class="card_content-card__bottom-executors__avatar"
										 src="{{ SprintCtrl.getUser(executor) }}">
								</div>
							</div>
						</div>
						<div class="card-priority"
						 	 ng-style="{'background-color': SprintCtrl.cardPrioriry(card)}">
						</div>
					</li>
				</ul>

				<div class="list_list-container_footer">

					<div ng-class="{'list_list-container_footer__scroll': SprintCtrl.isNeedScroll(list.listId +200)}"
						class="list_list-container_footer__top"
						 ng-click="SprintCtrl.scrollListTop(list.listId +200)"></div>
					<div ng-class="{'list_list-container_footer__scroll': SprintCtrl.isNeedScroll(list.listId +200)}"
						 class="list_list-container_footer__down"
					ng-click="SprintCtrl.scrollListDown(list.listId +200)"></div>
					<div class="list_list-container_footer__add-card"
						 ng-click="SprintCtrl.openAddCardToList(list, list.listId)">
					</div>

				</div>
				<form
						class="list_list-container_footer list_list-container_footer__form-wrapper"
					  ng-class="{'list_list-container_footer list_list-container_footer__form-wrapper__open': list.openAddCard}"
					  ng-submit="SprintCtrl.addCard(list.listId, list)">
					<input id="{{list.listId}}"
						   ng-blur="SprintCtrl.onBlur(list)"
						   type="text" ng-model="SprintCtrl.cardName[list.listId]"
						   placeholder="Enter task name"/>
				</form>

			</div>
		</div>
		<div class="list add-list">
			<div class="list_list-container">
				<div class="list_list-container_header">
					<div class="list_list-container_header__title">
						Add List
					</div>
				</div>
				<form class='add-list__form-wrapper' ng-submit="SprintCtrl.addList()">
					<input type="text" ng-model="SprintCtrl.listName"
						   placeholder="Enter list name"/>
				</form>
			</div>
		</div>
	</div>

	<ui-view></ui-view>
</section>