<!--<h1 class="hello-world">{{helloCtrl.name}} </h1>-->
<!--<h1>{{helloCtrl.dataFromSvc}} </h1>-->

<!--<br-hello-hell some-input="helloCtrl.someDataForHellComp"></br-hello-hell>-->

    <form ng-submit='helloCtrl.addProject()'>
        <input type='text' ng-model="helloCtrl.projectName" placeholder='project name'>
        <input type='text' ng-model="helloCtrl.managerID" placeholder='manager id'>
        <button type='submit'>Submit</button>
    </form>

    <div ng-repeat="project in helloCtrl.projects">
        <a href="/#!/project/{{project.$id}}">{{project.projectName}}</a>
    </div>
    <pre>{{projects | json}}</pre>

