<section class="profile">
        <form   ng-if="ProfileCtrl.userId">
        <center class='profile__inform'>
        <div class="profile__inform__block">
            <div    class="inform__block">
                <div    ng-if="ProfileCtrl.visible"
                        class="inform__block__avatar">
                    <img ng-src={{ProfileCtrl.user.avatar}}
                            class="inform__block__avatar_img_visible"
                            />
                </div>
                <div class="inform__block__avatar" 
                        type="file" 
                        ng-if="!ProfileCtrl.visible"
                        ngf-select="ProfileCtrl.uploadAvatar($file)"
                        accept="image/*">
                    <img ng-src={{ProfileCtrl.user.avatar}}
                            class="inform__block__avatar_img_invisible"/>
                    <div class="inform__block__avatar_textButton">
                    </div>
                </div>
                <div    class="inform__block__username__visible" 
                        ng-if='ProfileCtrl.visible'>
                    <section class="inform__block__username__visible_username">{{ProfileCtrl.user.username}}</section>
                    <section class="inform__block__username__visible_email">{{ProfileCtrl.user.email}}</section>
                    <div class="inform__block__username__visible__button">
                        <button class="inform__block__username__visible__button_edit buttonPR buttonPR--signup"
                                type='button' 
                                ng-click="ProfileCtrl.changeUserInformation()">
                            Edit profile
                        </button>
                    </div>
                </div>

                <div    class="inform__block__username__invisible" 
                        ng-if='!ProfileCtrl.visible'>
                    <input  type="text" 
                            ng-model="ProfileCtrl.user.username" 
                            placeholder="Username" 
                            class="inform__block__username__invisible_input input"/>                        
                    <section class="inform__block__username__visible_email">{{ProfileCtrl.user.email}}</section>                 
                    <div    class="inform__block__username__button">
                        <button type='submit'
                                class="inform__block__username__invisible__button_submit-save buttonPR buttonPR--signup"
                                ng-click="ProfileCtrl.updateUser()"
                                >
                            Save
                        </button>

                        <button type="button" 
                                class="inform__block__username__invisible__button_cancel inform__block__username__invisible__button_cancel--signup buttonPR"
                                ng-click="ProfileCtrl.cancelUpdateUser()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </center>
    </form>
    <my-projects></my-projects>
    <a class="bar" ng-click="ProfileCtrl.emit()">CREATE NEW PROJECT</a>
    <a ng-if="!ProfileCtrl.userId" class="bar" ui-sref="user">Go to registration</a>
</section>