.my-projects__search {
	position: relative;
	& .loop-icon {
		position: absolute;
		top: 6px;
		left: 295px;
		width: 15px;
		height: 15px;
		font-size: 1.6rem;
		color: rgba(0,0,0,.1);
	}
}

.search-projects .loop-icon{
	right: 10px;
}


.my-projects {
		width: calc(100% - 60px);
		padding: 30px;
		& input {
			width: 288px;
			border: 2px solid #000000;
			border-radius: 4px;
			padding: 3px 25px 3px 3px;
			font-size: 1.6rem;
		}
		& .my-projects__list {
			margin: 0;
			padding: 0;
			list-style: none;

			& .my-projects__item {
				overflow: hidden;
				margin-top: 20px;
				position: relative;
				display: block;
				height: 140px;
				background: #D3D3D3;
				-webkit-box-shadow: 2px 6px 10px -1px rgba(0,0,0,.4);
				-moz-box-shadow: 2px 6px 10px -1px rgba(0,0,0,.4);
				box-shadow: 2px 6px 10px -1px rgba(0,0,0,.4);
			}
		}	
	}

.search-projects {
	z-index: 100;
	position: fixed;
	top: 35px;
	left: 0;
	background: #ffffff;
	-webkit-box-shadow: 2px 6px 10px -1px rgba(0,0,0,.6);
	-moz-box-shadow: 2px 6px 10px -1px rgba(0,0,0,.6);
	box-shadow: 2px 6px 10px -1px rgba(0,0,0,.6);
	& .my-projects {
		width: 320px;
		padding: 10px 5px;
		& .my-tasks,
		/*& .my-projects__button,*/
		& .config {
			display: none;
		}
		& input {
			width: 288px;
			border: 2px solid #000000;
			border-radius: 3px;
			padding: 3px 25px 3px 3px;
			font-size: 1.6rem;
		}
		& .my-projects__item {
			margin-top: 10px;
			position: relative;
			height: 40px;
			cursor: pointer;
			-webkit-box-shadow: 2px 6px 10px -1px rgba(0,0,0,0);
			-moz-box-shadow: 2px 6px 10px -1px rgba(0,0,0,0);
			box-shadow: 2px 6px 10px -1px rgba(0,0,0,0);
		}
	}	
}


.my-projects__text,
.my-tasks,
.config {
	position: absolute;
	color: #ffffff;
	margin: 0;
}

.my-projects__text {
	top: 12px;
	left: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.my-tasks {
	top: 20px;
	left: 10px;
}

.config {
	top: 10px;
	right: 10px;
	font-size: 1.4rem;
}

.my-projects__item:hover .my-projects__text {
	opacity: .8;
}

.my-projects__background {
	height: 140px;
	overflow: hidden;
	& img {
		width: 100%;
	}
}

.search-projects .my-projects__background {
	width: 100%;
	height: 40px;
	
}
/*
.my-projects__button {
	position: absolute;
	top: 20px;
	height: 30px;
}

.my-projects__button--prew{
	left: 20px;
}

.my-projects__button--next{
	right: 20px;
}*/