<div class="my-projects">
	<div class="my-projects__search">
		<div class="loop-icon">
			<i class="fas fa-search"></i>
		</div>
		<input type="text" ng-model="MyProjectsCtrl.searchProjects" placeholder="Search project">
	</div>
	<ul class="my-projects__list">
		<li class="my-projects__item" ng-repeat="myProject in MyProjectsCtrl.myProjects | filter: {projectName: MyProjectsCtrl.searchProjects}" ng-click="MyProjectsCtrl.goToSprint(myProject.$id)">
			<div class="my-projects__background">
				<img src="{{myProject.background}}">
			</div>
			<p class="my-projects__text">{{myProject.projectName }}</p>
			<my-tasks class="my-tasks" tasks="myProject.myTasks" project-id="myProject.$id"></my-tasks>
			<a class="config" ng-if="MyProjectsCtrl.isManager(myProject.managerId)" ui-sref="project-settings({project_id: myProject.$id})">go to settings </a>
		</li>
	</ul>
</div>