<div class="my-projects">
	<input type="text" ng-model="MyProjectsCtrl.searchProjects" placeholder="Search">
	<ul>
		<li ng-repeat="myProject in MyProjectsCtrl.myProjects | filter: {projectName: MyProjectsCtrl.searchProjects}">
			<a ui-sref="current-sprint({project_id: myProject.$id})">{{myProject.projectName }}</a>
			<my-tasks tasks="myProject.myTasks"></my-tasks></br>
			<a ui-sref="project-settings({project_id: myProject.$id})">go to {{myProject.projectName}} project settings </a>

		</li>
	</ul>
</div>