.sprint-header__wrapper{
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  background-color: rgba(247,247,247, 0.8);
  box-shadow: 6px 6px 22px rgba(0,0,0,0.8);
  cursor: default;
}

.sprint-header {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__title{
    border-right: 1px solid #a9a9a9;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //background: red;
    padding-right: 10px;
    font-size: 19px;
    line-height: 1;
    &_current-sprint{
      color: #4C5B5C;
      width: 100%;
      text-align: right;
      font-size: 15px;
      //line-height: 0.3;
      //margin-top: -1px;
      //padding-bottom: 5px;
    }
  }
  &__date{
    border-right: 1px solid #a9a9a9;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    color: #4C5B5C;
    //background: blue;
    &_due-date{
      //color: #4C5B5C;
      //width: 100%;
      //text-align: right;
      font-size: 15px;
      line-height: 1.3;
      //margin-top: -1px;
      //padding-bottom: 5px;
    }
    &_current-date{
      text-align: center;
      width: 100%;
      color: black;
    }
  }
  &__cards{
    padding-left: 10px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      //font-weight: bold;
      &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        margin-bottom: 2px;
        margin-right: 3px;
        border-radius: 3px;
      }
      &:first-child::before{
          background: red;
      }
      &:nth-child(2)::before{
          background: yellow;
      }
      &:nth-child(3)::before{
          background: green;
      }
      &:nth-child(4)::before{
          background: blue;
      }
    }
  }
}