<section class="project-settings">
    <div class="project-settings__close" ng-click="ProjectSettingsCtrl.hideFunc()">+</div>
    <form ng-submit="ProjectSettingsCtrl.updateProject()">
       <div class="project-settings__project-name">
          <p class="project-settings__text" ng-if="!ProjectSettingsCtrl.projectEdit">{{ProjectSettingsCtrl.project.projectName}}</p>
          <input class="project-settings__input" ng-if="ProjectSettingsCtrl.projectEdit" type="text" ng-model="ProjectSettingsCtrl.project.projectName" placeholder="project name"/>
          <div ng-if="!ProjectSettingsCtrl.projectEdit" class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectName()">
            <i class="fas fa-edit"></i>
          </div>
          <div ng-if="ProjectSettingsCtrl.projectEdit"  class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectName()">
            <i class="fas fa-check"></i>
          </div>
        </div>
        <div class="project-settings__project-duration">
        <span class="project-settings__text project-settings__text--duration">sprint duration, days:</span>
        <span class="project-settings__text project-settings__text--duration" ng-if="!ProjectSettingsCtrl.durationEdit">{{ProjectSettingsCtrl.project.duration}}</span>
        <input ng-if="ProjectSettingsCtrl.durationEdit" class="project-settings__input project-settings__input--duration" type="text" ng-model="ProjectSettingsCtrl.project.duration" placeholder="project duration"/>
        <div ng-if="!ProjectSettingsCtrl.durationEdit" class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectDuration()">
            <i class="fas fa-edit"></i>
          </div>
          <div ng-if="ProjectSettingsCtrl.durationEdit"  class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectDuration()">
            <i class="fas fa-check"></i>
          </div>
        </div>
        <div class="project-settings__project-background">
          <div class="background-item">
            <img src="ProjectSettingsCtrl.project.background">
          </div>
          <ul background-items>
            <li ng-repeat="">
              <div class="background-item">
                <img src="ProjectSettingsCtrl.project.background">
              </div>
            </li>
          </ul>
        </div>
        <input class="project-settings__input" type="text" ng-model="ProjectSettingsCtrl.project.background" placeholder="project background image"/>
        
      <button type='submit'>Update</button>
  </form>
  <ul>
    <li ng-repeat="user in ProjectSettingsCtrl.projectUsers">
      {{user.username}}
      <button ng-if="!ProjectSettingsCtrl.isManager(user.$id)" ng-click="ProjectSettingsCtrl.deleteUserFromProject(user.$id)">delete</button>
    </li>
  </ul>
  <form ng-submit="ProjectSettingsCtrl.addUserToProject()">
	<select
            ng-model="ProjectSettingsCtrl.newUserId"
            ng-options="user.$id as user.username for user in ProjectSettingsCtrl.users | filter:{$id: '!' + ProjectSettingsCtrl.userId}:true">
      <option value="-- choose user --"></option>        
    </select>
	<button type='submit'>Add User</button>
  </form>
  <button ng-click="ProjectSettingsCtrl.deleteProject()">Delete project</button>
</section>