<section class="project-settings">
    <div class="project-settings__close" ng-click="ProjectSettingsCtrl.hideFunc()">+</div>
    <form ng-submit="ProjectSettingsCtrl.updateProject()">
       <div class="project-settings__project-name">
          <p class="project-settings__text" ng-if="!ProjectSettingsCtrl.projectEdit">{{ProjectSettingsCtrl.project.projectName}}</p>
          <input class="project-settings__input" ng-if="ProjectSettingsCtrl.projectEdit" type="text" ng-model="ProjectSettingsCtrl.project.projectName"/>
          <div ng-if="!ProjectSettingsCtrl.projectEdit" class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectName(false)">
            <i class="fas fa-edit"></i>
          </div>
          <div ng-if="ProjectSettingsCtrl.projectEdit"  class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectName(true)">
            <i class="fas fa-check"></i>
          </div>
          <div class="project-settings__management-buttons">
            <button class="link-button link-button--close-sprint" ng-click="ProjectSettingsCtrl.closeSprint()">Close sprint</button>
            <button class="link-button link-button--delete" ng-click="ProjectSettingsCtrl.deleteProject()">Delete project</button>
          </div>
        </div>
        <div class="project-settings__project-duration">
          <span class="project-settings__text project-settings__text--duration">sprint duration, days:</span>
          <span class="project-settings__text project-settings__text--duration" ng-if="!ProjectSettingsCtrl.durationEdit">{{ProjectSettingsCtrl.project.duration}}</span>
          <input ng-if="ProjectSettingsCtrl.durationEdit" class="project-settings__input project-settings__input--duration" type="text" ng-model="ProjectSettingsCtrl.project.duration"/>
          <div ng-if="!ProjectSettingsCtrl.durationEdit" class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectDuration(false)">
              <i class="fas fa-edit"></i>
          </div>
          <div ng-if="ProjectSettingsCtrl.durationEdit"  class="project-settings__button edit" ng-click="ProjectSettingsCtrl.editProjectDuration(true)">
              <i class="fas fa-check"></i>
          </div>
        </div>
        <div class="project-settings__project-background">
          <p class="project-settings__background-text">project background</p>
          <div class="background-item">
            <img src="{{ProjectSettingsCtrl.project.background}}">
             <div ng-if="!ProjectSettingsCtrl.backgroundEdit" class="project-settings__button edit edit--background" ng-click="ProjectSettingsCtrl.editProjectBackground()">
            <i class="fas fa-edit"></i>
          </div>
          <div ng-if="ProjectSettingsCtrl.backgroundEdit" class="project-settings__button edit edit--background" ng-click="ProjectSettingsCtrl.editProjectBackground()">
            <i class="fas fa-check"></i>
          </div>
          </div>
         
          <ul class="background-items" ng-show="ProjectSettingsCtrl.backgroundEdit">
            <li ng-repeat="srcImg in ProjectSettingsCtrl.backgrounds | filter:'!'+ProjectSettingsCtrl.project.background">
              <div class="background-item" ng-click="ProjectSettingsCtrl.selectBackground(srcImg)">
                <img src="{{srcImg}}">
              </div>
            </li>
          </ul>
        </div>
  </form>
  <user-adding all-users="ProjectSettingsCtrl.users"
               users="ProjectSettingsCtrl.projectUsers" 
               project="ProjectSettingsCtrl.project"
               project-id="ProjectSettingsCtrl.projectId"
               boolean-project="true">
  </user-adding>
</section>