.project-setting__users-section {
  margin-top: 25px;
  border-top: 1px solid #D1D1D1;
  padding-bottom: 10px;
  position: relative;
}

.task-executors {
  .project-setting__users-section {
  border: none;
  margin-top: 10px;
  .project-settings__text--users {
    display: none;
  }
  .project-settings__executors-select {
    z-index: 60;
  }
 }
}

.background__executors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.background__executor {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px 6px;
  &__avatar {
    flex-shrink: 0;
    width: 100%;
    border-radius: 50%;
    height: 40px;
    &--add:hover {
      opacity: .5;
    }
  }
  &__name {
    position: absolute;
    top: 36px;
    font-size: 1.3rem;
    display: none;
    color: #000000;
  }
  &__delete {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #000000;
    display: none;
    font-size: 2rem;
  }
}

.background__executor:hover .background__executor__name,
 .background__executor:hover .background__executor__delete {
  display: block;
}


.project-setting__search {
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.loop-icon--project-settings {
  position: absolute;
  right: 8px;
  top: 7px;
  opacity: .2;
}

.project-settings__executors-input {
  width: 100%;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  outline: 0;
  height: 28px;
  font-size: 1.6rem;
  padding-left: 5px;
  border-radius: 4px;
  border: 2px solid #000000;
  &:valid {
    border-radius: 4px 4px 0 0;
  }
}


.background__exector__avatar-name,
.background__executor--select {
  margin-left: 10px;
}

.project-settings__executors-select {
  width: 100%;
}

.project-settings__executors-option {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f3f3f3;
  border: 1px solid #D1D1D1;
  border-top: none;
  &:hover {
    background: #ffffff;
  }
}

.project-settings__search-section {
  width: 268px;
  position: absolute;
  bottom: -22px;
}

.project-settings__executors-select {
  position: absolute;
  top: 40px;
  -webkit-box-shadow: -2px 6px 10px -1px rgba(0,0,0,.3);
  -moz-box-shadow: -2px 6px 10px -1px rgba(0,0,0,.3);
  box-shadow: -2px 6px 10px -1px rgba(0,0,0,.3);
}
.project-settings__text {
&--users {
    margin-top: 20px;
    display: inline-block;
    padding: 0 5px 0 5px;
    font-size: 1.5rem;
    text-transform: lowercase;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
  }
}