<section  class="ticket ticket-layer">
    <div class='ticket__wrapper'>
		<div class='ticket__content'>
			<h1>{{TicketCtrl.ticket.title}}</h1>
			<p>{{TicketCtrl.ticket.priority}}</p>
			<ul>
				<li ng-repeat="user in TicketCtrl.ticket.users track by $index">
				{{user}}
				</li>
			</ul>
		</div>
		  <form ng-submit="TicketCtrl.addExecutorsToTicket()">
			<select
		            ng-model="TicketCtrl.newUserId"
		            ng-options="user.$id as user.username for user in TicketCtrl.projectUsers">
		      <option value="-- choose user --"></option>        
		    </select>
			<button type='submit'>Add User</button>
		  </form>
	</div>
</section>

